*.cached

obj/
tmp/
.fsdocs/cache
.livedocs/cache/
.livedocs/content/
.livedocs/releases/
*.db
/output
bin/

# Claude IDE settings
.claude/settings.local.json
nupkg/
test/Facade.Tests/bin/*
test/Facade.Tests/obj/*
