source https://api.nuget.org/v3/index.json

storage: none
framework:auto-detect

nuget FSharp.Core
nuget FSharp.Interop.Dynamic
nuget Microsoft.Extensions.Configuration
nuget Akkling.Streams
nuget Microsoft.Data.SQLite
nuget SQLProvider 1.5.7
nuget SQLitePCLRaw.core
nuget Akkling.Persistence
nuget Akka.Persistence.Sql >= 1.5.42
nuget Akka.Cluster.Sharding >= 1.5.42
nuget Akkling.Cluster.Sharding 
nuget FSharp.SystemTextJson
nuget FsToolkit.ErrorHandling
nuget FCQRS.Serialization
nuget Fable.Package.SDK
nuget FCQRS.Model
nuget FCQRS
nuget Hocon.Extensions.Configuration
nuget Microsoft.Extensions.Logging.Console
nuget Akka.TestKit