source https://api.nuget.org/v3/index.json

storage: none
framework:auto-detect

nuget FSharp.Core  < 9
nuget FSharp.Interop.Dynamic
nuget Microsoft.Extensions.Configuration
nuget Akkling.Streams
nuget Microsoft.Data.SQLite
nuget SQLProvider
nuget SQLitePCLRaw.core
nuget Akkling.Persistence
nuget Akka.Persistence.Query.Sql
nuget Akka.Persistence.Sql
nuget Akka.Cluster.Sharding
nuget Akkling.Cluster.Sharding
nuget FSharp.SystemTextJson
nuget FsToolkit.ErrorHandling
nuget FCQRS.Serialization
nuget Fable.Package.SDK
nuget Hocon.Extensions.Configuration
nuget Microsoft.Extensions.Logging.Console
nuget Akka.TestKit
nuget FCQRS8.Serialization