config {
     connection-string = "Data Source=demo.db;"
     akka {
          scheduler {
               implementation = "FCQRS.Scheduler+ObservingScheduler, FCQRS"
               // implementation = "Akka.TestKit.TestScheduler, Akka.TestKit"
          }
     }
}